
@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-qp-knit-regular.woff2') format('woff2'), url('ttf/iosevka-qp-knit-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-qp-knit-extended.woff2') format('woff2'), url('ttf/iosevka-qp-knit-extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('woff2/iosevka-qp-knit-semiextended.woff2') format('woff2'), url('ttf/iosevka-qp-knit-semiextended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-qp-knit-italic.woff2') format('woff2'), url('ttf/iosevka-qp-knit-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-qp-knit-extendeditalic.woff2') format('woff2'), url('ttf/iosevka-qp-knit-extendeditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('woff2/iosevka-qp-knit-semiextendeditalic.woff2') format('woff2'), url('ttf/iosevka-qp-knit-semiextendeditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-qp-knit-medium.woff2') format('woff2'), url('ttf/iosevka-qp-knit-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-qp-knit-extendedmedium.woff2') format('woff2'), url('ttf/iosevka-qp-knit-extendedmedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('woff2/iosevka-qp-knit-semiextendedmedium.woff2') format('woff2'), url('ttf/iosevka-qp-knit-semiextendedmedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-qp-knit-mediumitalic.woff2') format('woff2'), url('ttf/iosevka-qp-knit-mediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-qp-knit-extendedmediumitalic.woff2') format('woff2'), url('ttf/iosevka-qp-knit-extendedmediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('woff2/iosevka-qp-knit-semiextendedmediumitalic.woff2') format('woff2'), url('ttf/iosevka-qp-knit-semiextendedmediumitalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-qp-knit-bold.woff2') format('woff2'), url('ttf/iosevka-qp-knit-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('woff2/iosevka-qp-knit-extendedbold.woff2') format('woff2'), url('ttf/iosevka-qp-knit-extendedbold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('woff2/iosevka-qp-knit-semiextendedbold.woff2') format('woff2'), url('ttf/iosevka-qp-knit-semiextendedbold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-qp-knit-bolditalic.woff2') format('woff2'), url('ttf/iosevka-qp-knit-bolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('woff2/iosevka-qp-knit-extendedbolditalic.woff2') format('woff2'), url('ttf/iosevka-qp-knit-extendedbolditalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka QP Knit Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('woff2/iosevka-qp-knit-semiextendedbolditalic.woff2') format('woff2'), url('ttf/iosevka-qp-knit-semiextendedbolditalic.ttf') format('truetype');
}
