
@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-term-lumi-light.ttf') format('truetype'), url('woff2/iosevka-term-lumi-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('ttf/iosevka-term-lumi-semiextendedlight.ttf') format('truetype'), url('woff2/iosevka-term-lumi-semiextendedlight.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-term-lumi-lightitalic.ttf') format('truetype'), url('woff2/iosevka-term-lumi-lightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('ttf/iosevka-term-lumi-semiextendedlightitalic.ttf') format('truetype'), url('woff2/iosevka-term-lumi-semiextendedlightitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-term-lumi-regular.ttf') format('truetype'), url('woff2/iosevka-term-lumi-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('ttf/iosevka-term-lumi-semiextended.ttf') format('truetype'), url('woff2/iosevka-term-lumi-semiextended.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-term-lumi-italic.ttf') format('truetype'), url('woff2/iosevka-term-lumi-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('ttf/iosevka-term-lumi-semiextendeditalic.ttf') format('truetype'), url('woff2/iosevka-term-lumi-semiextendeditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-term-lumi-medium.ttf') format('truetype'), url('woff2/iosevka-term-lumi-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('ttf/iosevka-term-lumi-semiextendedmedium.ttf') format('truetype'), url('woff2/iosevka-term-lumi-semiextendedmedium.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-term-lumi-mediumitalic.ttf') format('truetype'), url('woff2/iosevka-term-lumi-mediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('ttf/iosevka-term-lumi-semiextendedmediumitalic.ttf') format('truetype'), url('woff2/iosevka-term-lumi-semiextendedmediumitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-term-lumi-bold.ttf') format('truetype'), url('woff2/iosevka-term-lumi-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('ttf/iosevka-term-lumi-semiextendedbold.ttf') format('truetype'), url('woff2/iosevka-term-lumi-semiextendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-term-lumi-bolditalic.ttf') format('truetype'), url('woff2/iosevka-term-lumi-bolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('ttf/iosevka-term-lumi-semiextendedbolditalic.ttf') format('truetype'), url('woff2/iosevka-term-lumi-semiextendedbolditalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('ttf/iosevka-term-lumi-heavy.ttf') format('truetype'), url('woff2/iosevka-term-lumi-heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('ttf/iosevka-term-lumi-semiextendedheavy.ttf') format('truetype'), url('woff2/iosevka-term-lumi-semiextendedheavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('ttf/iosevka-term-lumi-heavyitalic.ttf') format('truetype'), url('woff2/iosevka-term-lumi-heavyitalic.woff2') format('woff2');
}

@font-face {
	font-family: 'Iosevka Term Lumi Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('ttf/iosevka-term-lumi-semiextendedheavyitalic.ttf') format('truetype'), url('woff2/iosevka-term-lumi-semiextendedheavyitalic.woff2') format('woff2');
}
